#virtual enviroment
venv-marinet

#python cache
src/server/__pycache__/
*.pyc

#vscode settings
.vscode

#js dependencies
node_modules

#generated bundle
dist

#tslint settings
tslint.json

#psql settings
src/server/settings

#python linter settings
.pylintrc

#vim files 
*.swp
